.ol__root {
  background-color: #ffa69e;
}
.ol__li {
  list-style-type: upper-roman;
  margin: 0.2rem 0;
  padding: 0.2rem;
}
.ol__li__paragraph {
  margin: 0.2rem 0;
}
.ul__root {
  background-color: #ffa69e;
}
.ul__li {
  list-style-type: none;
  margin: 0.2rem 0;
  padding: 0.2rem;
}
.ul__li__paragraph {
  margin: 0.2rem 0;
}
