.get__collection__item__container {
  display: block;
  justify-content: center;
  background-color: antiquewhite;
  padding: 0.5rem;
  margin: 0.5rem;
  color: black;
  font-size: 1.5rem;
  overflow-y: scroll;
  position: relative;
  top: 5%;
  max-height: 100%;
}
.get__collection__item__title {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1.8rem;
  font-weight: lighter;
  font-style: italic;
}
.get__collection__item__image {
  box-sizing: border-box;
  height: 15vh;
}
.get__collection__item__buttons {
  display: flex;
  flex-flow: row wrap;
}
.get__collection__item__button {
  background: #ef3f5a;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 15px 32px;
  margin: 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.get__collection__item__button:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}
.get__collection__item__close__button {
  background: #ef3f5a;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px 25px 25px 25px;
  color: white;
  padding: 15px 32px;
  margin: 0.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.get__collection__item__close__button:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.add__collection__form {
  background-color: antiquewhite;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 60vw;
  max-height: 50vh;
  overflow-y: scroll;
}

.search__component__input {
  padding: 1rem;
  font-size: 1.8rem;
  width: 100%;
}
.input__items__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.add__collection__image__upload {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.8rem;
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 600px) {
  .add__collection__form {
    padding: 0.2rem;
    max-width: 100vw;
  }

  .input__items__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .get__collection__item__container {
    display: block;
    justify-content: center;
    background-color: antiquewhite;
    padding: 0.5rem;
    margin: 0.5rem;
    color: black;
    font-size: 1.5rem;
    overflow-y: scroll;
    position: relative;
    top: 20%;
    max-height: 60%;
  }
}
