.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-content: center;
  background-color: #292b2c;
  color: white;
  margin-top: 1em;
  font-size: 1.2em;
}
.social {
  padding: 1em;
}
.faq {
  padding: 1em;
}
.copy {
  padding: 1em;
}
/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    justify-content: center;
    background-color: #292b2c;
    color: white;
    font-size: 1em;
  }
  /* unvisited link */
  .url-decoration:link {
    color: white;
    text-decoration: none;
  }

  /* visited link */
  .url-decoration:visited {
    color: white;
    text-decoration: none;
  }

  /* mouse over link */
  .url-decoration:hover {
    color: white;
    text-decoration: none;
  }

  /* selected link */
  .url-decoration:active {
    color: white;
    text-decoration: none;
  }
}
