.home__layout {
  margin: 0rem 4rem;
}
.about__layout {
  margin: 0rem 4rem;
}
.portfolio__layout {
  margin: 0rem 4rem;
}
.contact__layout {
  margin: 0rem 4rem;
}
.contact__icon {
  height: 80px;
  color: #fff;
  cursor: pointer;
}

.page__content__root {
  background-color: #ff686b;
  width: 100vw;
  opacity: 0.9;
}
