.homeTitle{    
    font-weight:lighter;
    font-size:8em;
    opacity:0.8;
}
.homeParagraph{
    font-weight:lighter;
    font-size:4em;
    opacity:0.8;
}
.main{
    display:flex;
    flex-direction:column;
    text-align:center;
}
.subMain{
    display:flex;
    flex-direction:row;
    text-align:center;
    text-decoration:underline;
    justify-content:space-around;
}