*,
*:before,
*:after {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0rem;
  padding: 0rem;
  background: url("https://firebasestorage.googleapis.com/v0/b/portfolio-231ae.appspot.com/o/images%2FNearFairmontHotelInverted.jpg?alt=media&token=e0b6bdb8-5d98-4787-8533-cde85f097846") no-repeat center center fixed;
  background-size: cover;
  color: #0a0a0b;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 10% 10% 10%;
      grid-template-columns: 70% 10% 10% 10%;
  color: #f7f7f7;
  padding: 10px 100px 0;
}

header h2 {
  cursor: pointer;
  background-color: transparent;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  cursor: pointer;
  margin: 10px 25px 0px;
  text-shadow: 2px 2px #292b2c;
  font-size: 1.8em;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

ul,
nav {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  background-color: transparent;
}

a:hover {
  opacity: 1;
}

.active {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  background-color: #333;
  border-radius: 5rem;
  -webkit-box-shadow: 5px 5px 5px #f7f7f7;
          box-shadow: 5px 5px 5px #f7f7f7;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
  opacity: 0.9;
  text-shadow: 2px 2px #333;
  padding: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: lighter;
  color: #fff;
  margin: 0 0 1.5rem;
  opacity: 0.9;
  text-shadow: 2px 2px #333;
  padding: 0.5rem;
}

p {
  position: relative;
  top: 0%;
  font-size: 1.2rem;
  border-radius: 4px;
  margin: 0 0 1.5rem;
  opacity: 0.9;
  padding: 0.5rem;
}

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.cover {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.flex-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  -webkit-box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

#madeby {
  position: absolute;
  bottom: 0;
  right: 10%;
}

#madeby__link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

#viewContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80vw;
}

@media all and (max-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header nav li {
    font-size: 1.2em;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.2rem;
  }
  #viewContainer {
    width: 100vw;
  }
}

@media (prefers-color-scheme: light) {
  p {
    background-color: #f7f7f7;
    color: #292b2c;
  }
}

@media (prefers-color-scheme: dark) {
  p {
    color: #f7f7f7;
    background-color: #292b2c;
  }
}
/*# sourceMappingURL=App.css.map */