* {
  font-family: "Roboto", monospace, serif;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 1;
  cursor: pointer;
  outline: none;
  border: transparent 0px solid;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  text-align: center;
}
button:hover {
  cursor: pointer;
}
/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color: #000;
}

/* selected link */
a:active {
  color: #000;
}