* {
  font-family: "Lato", sans-serif;
}
html {
  background-color: #f97171;
}
.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f97171;
  max-width: 100%;
}
.btn {
  text-decoration: none;
  margin: 20px;
  max-width: 130px;
  max-height: 80px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-primary {
  background-color: #8ad6cc;
  color: #000;
}

.btn-secondary {
  background-color: #385a7c;
}

.disabled {
  text-decoration: line-through;
  text-decoration-color: black;
  background-color: #b2eee6;
}

@media only screen and (max-width: 600px) {
}
// #b2eee6
// #f99192
// #f97171
// 2c395d
// #385a7c
// #8ad6cc
