.App {
  background-color: #ff686b;
  color: #fff;
  font-size: larger;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/portfolio-231ae.appspot.com/o/images%2FNearFairmontHotel.jpg?alt=media&token=a486d939-5195-43c5-87e7-c3da45069f68");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, repeat;
  height: 100vh;

  width: 100%;

  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff686b;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffa69e;
}
/* unvisited link */
a:link {
  color: #292b2c;
}

/* visited link */
a:visited {
  color: #292b2c;
}

/* mouse over link */
a:hover {
  color: #292b2c;
}

/* selected link */
a:active {
  color: #292b2c;
}
a:link,
a:visited {
  background-color: #8ad6cc;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  transition: background-color 500ms;
  background-color: #66beb2;
}

.button {
  background-color: #8ad6cc;
  color: #fff;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  transition: background-color 500ms;
  background-color: #66beb2;
}

.home__container {
  display: flex;
  margin-top: 20rem;
  justify-content: center;
  align-content: center;
  opacity: 0.8;
}
.page__main {
  display: inline-flex;
}

.page__main__image {
  position: relative;
  left: 50%;
}
.page__image {
  border-radius: 100px;
  border: 4px inset #ff686b;
}
.paper__title {
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 3rem;
}
.paper__subtitle {
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 2.5rem;
}

#madeBy {
  position: fixed;
  bottom: 0%;
  right: 0%;
  z-index: 5;
}
.photoBy__image {
  border-radius: 25px;
}
.general_padding {
  padding: 0.5rem;
}
.general_margin {
  margin: 0.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
}
.landing-container {
  height: 100%;
  background-color: #f97171;
}
.landing-image {
  height: 30vh;
  width: 40vw;
  border-radius: 1rem;
  border: outset 4px #fff;
}
.jumbotron {
  background-color: #f99192;
}
.icon-list {
  display: flex;
  flex-direction: row;
}
.icon-list > a {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #f97171 !important;
}
p {
  font-size: larger;
}
.blog-list {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.blog {
  border: outset 4px #fff;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
}
.blog-image {
  height: 20vh;
  position: relative;
}
.blogs-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75%;
}
.peeking-image {
  height: 200px;
  max-width: 100vw;
}
.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}
.logosList {
  height: 60px;
  width: 60px;
  position: relative;
  left: 100px;
  top: 110px;
}
